//COLORS
$black: #000000;
$dark_green: #006633;
$olive: #487669;
$light-green: #9ebe67;
$white: #ffffff;
$footer-bg: #3C3A3A;


//FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
$body: "Inter", sans-serif;
$title: "Jost", serif;
